extends layout.pug

block number1
    if error
        p.error Please fill the input

    if success
        p.success Good Job

    if deleted
        p.success Deleted

    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Add your task...' name='todo')
        button.btn Add

    div.todos
        if todos.length
            each todo in todos
                p.todo
                    if todo.done
                        a.done(href=`/${todo.id}/update`) #{ todo.description }
                    else
                        a.undone(href=`/${todo.id}/update`) #{ todo.description }
                    a.delete(href=`/${todo.id}/delete`) Delete
        else
            p.todo No any todo available